/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: white;
	transition:ease all 0.5s;
  -webkit-transition:ease all 0.5s;
  -moz-transition:ease all 0.5s;
  -o-transition:ease all 0.5s;
	
}
.dark-nav{
	
	color : black;
	transition:ease all 1.5s;
  -webkit-transition:ease all 1.5s;
  -moz-transition:ease all 1.5s;
  -o-transition:ease all 1.5s;
  background-color: rgba(0,0,0,0.6);
	
}
.dark-nav ul li a{
	color: white;
	
}
p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}
.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: 610px;
  color: rgba(255,255,255,.9);
}


  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}